<mat-card *ngFor="let user of users">
  <mat-card-header>
      <mat-card-title>Modify user {{user.name}} ({{user.username}})</mat-card-title>
      
  </mat-card-header>
  
  <img matCardImage src="">
  <mat-card-content class="user-form">
      <mat-form-field >              
          <input matInput #input placeholder="Name" [(ngModel)]="user.name" [value]="name" >
        </mat-form-field>
    
      <mat-form-field >              
          <input matInput #input placeholder="Username" [(ngModel)]="user.username" [value]="username" >
        </mat-form-field>
      
      <mat-form-field>
          <mat-select placeholder="User Type" [(value)]="userType">
            <mat-option value="0">User</mat-option>                
            <mat-option value="1">Administrator</mat-option>
          </mat-select>
        </mat-form-field>
      <mat-form-field>            
          <input matInput placeholder="Password" [type]="hide ? 'text' : 'password'" [(ngModel)]="user.password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-form-field>            
            <input matInput placeholder="Re-enter password" type="password" [(value)]="user.password" [(ngModel)]="confirmPassword">                
          </mat-form-field>
        
  </mat-card-content>
  <mat-card-actions align="start">          
      <button mat-raised-button color="warn" routerLink="/home">Cancel</button>          
      <button mat-raised-button color="primary" (click)="save(user, confirmPassword)">Save</button>          
  </mat-card-actions>

</mat-card>