Week Start: 
{{Week | date: 'dd/MM/yyyy'}}
    <span>Interval:</span>
    <input type="number"/>
  <div *ngFor="let day of Days">
    <span>{{day.Description}}</span>    
    <input type="checkbox" (change)="day.Worked = !day.Worked" [checked]="!day.Worked"> <span>Didn't Work?</span>
    <fieldset [disabled]="!day.Worked">      
        Start:
        <select [(ngModel)]="day.Start">            
            <option *ngFor="let startHours of day.hours()" [attr.value]="startHours">{{ startHours | convertToHour}}</option>          
        </select>      
          End:
          <select [(ngModel)]="day.End">
              <option *ngFor="let endHours of day.hours(day.Start)" [attr.value]="endHours">{{ endHours | convertToHour}}</option>          
          </select>
          Total:
          <span>{{(day.End > 0 ? day.End - day.Start : 0) | convertToHour}}</span>
          <input type="hidden" [(ngModel)]="day.TimeSheetId">          
    </fieldset>
  
  </div>
  <fieldset disabled="disabled">
      <h3>Total Hours: {{dataService.calculateTotal(Days) | convertToHour}}</h3>
    </fieldset>
  <button routerLink="/home" routerLinkActive="active">Cancel</button>
  <button routerLinkActive="active" (click)="save()">Save</button>  