Select Week: <select name="week" >
    <option value="value" selected>30/10/2017 - 05/11/2017</option>
    <option value="value">23/10/2017 - 29/10/2017</option>
  </select>
  <div>
    <span>Monday</span>    
    <fieldset disabled="disabled">      
        Start:
        <select name="monday" >
            <option value="value" selected>00:00</option>
            <option value="value">00:00</option>
          </select>
          End:
          <select name="monday" >
              <option value="value" selected>00:00</option>
              <option value="value">00:00</option>
            </select>              
    </fieldset>
  </div>
  <button routerLink="/home" routerLinkActive="active">Cancel</button>
  <button routerLink="/manage" routerLinkActive="active">Save</button>