<button routerLink="/home" routerLinkActive="active">Home</button>
Week: 
<select [(ngModel)]="Selectedweek" (change)="loadTimeSheets(Selectedweek)">
    <option *ngFor="let week of ListWeeks" [ngValue]="week">{{week.Start | date: 'dd/MM/yyyy'}} - {{week.End | date: 'dd/MM/yyyy'}}</option>
</select>
<ul *ngFor="let timesheet of TimeSheetList">
    <li><a [routerLink]="['/edit', timesheet.id, timesheet.week]" routerLinkActive="active">{{timesheet.name}} - Total: {{timesheet.total | convertToHour}}</a> </li>
</ul>
