.mat-form-field-select {
    width: 24%;
}
.mat-card {
    padding: 0;
    height: 189px;
    margin-top: 20px;
}

.mat-card-header {
    background-color: #3f51b5;
    width: 100%;
    color: ghostwhite;
    font-weight: bold;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;        
}

.mat-card-header div {
    width: 50%;
    justify-content: flex-end;
}
.mat-card-content {
    margin: 15px;
}

.mat-card-actions {
    margin: 0;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}


mat-slide-toggle {
 margin-top: 10px;   
}