<mat-tab-group>
        <mat-tab label="Time Sheet">
                <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile                            
                            [colspan]="2"
                            [rowspan]="1">
                            <mat-card>
                                    Select Week: 
                                    <mat-select [(ngModel)]="Selectedweek" (change)="setWeek(Selectedweek)">
                                        <mat-option *ngFor="let week of ListWeeks" [value]="week">{{week.Start | date: 'dd/MM/yyyy'}} - {{week.End | date: 'dd/MM/yyyy'}}</mat-option>
                                      </mat-select>
                            </mat-card>            
                                      
                        </mat-grid-tile>
                                 
                      <mat-grid-tile                             *ngFor="let day of Days"
                      [colspan]="2"
                      [rowspan]="1">
                <mat-card>
                            <mat-card-header>                                
                                <mat-card-title>{{day.Description}}</mat-card-title>
                                <mat-slide-toggle (change)="day.Worked = !day.Worked" [checked]="!day.Worked">Didn't Work?</mat-slide-toggle>                                
                            </mat-card-header>                    
                            <mat-card-content>      
                                <mat-form-field>
                                        <mat-select placeholder="Start" [(ngModel)]="day.Start" name="start">
                                            <mat-option *ngFor="let startHours of day.hours()" [value]="startHours">{{startHours | convertToHour}}</mat-option>
                                        </mat-select>
                                </mat-form-field>   
                                <mat-form-field>
                                        <mat-select placeholder="End" [(ngModel)]="day.End" name="end">
                                                <mat-option *ngFor="let endHours of day.hours(day.Start)" [value]="endHours">{{ endHours | convertToHour}}</mat-option>          
                                        </mat-select>
                                </mat-form-field>                            
                            </mat-card-content>   
                            <mat-card-footer>
                                <span>{{(day.End > 0 ? day.End - day.Start : 0) | convertToHour}}</span>
                            </mat-card-footer>                                                                                
                </mat-card>
                </mat-grid-tile>

            </mat-grid-list> 
            <fieldset disabled="disabled">
                    <h3>Total Hours: {{Days | getTotalHours}}</h3>
                  </fieldset>
                <button routerLink="/home" routerLinkActive="active">Cancel</button>
                <button routerLinkActive="active" (click)="save()">Save</button>
        </mat-tab>
        <mat-tab label="Selecteds">
                <div *ngIf="dataService.Selecteds.length > 0">
                        <mat-list>
                            <h3 mat-subheader>Selecteds</h3>
                            <mat-list-item *ngFor="let employee of dataService.Selecteds" class="selecteds">
                                <img matListAvatar [src]="employee.image"/>
                                <h3 matLine> {{employee.name}} </h3>
                                <p matLine>
                                <span>D.O.B: {{employee.dob}} </span>
                                <span> | Phone: {{employee.phone}} </span>
                                </p>
                            </mat-list-item>
                        </mat-list>                    
                </div>                                                    
        </mat-tab>
      </mat-tab-group>

