<div class="">
        <button routerLink="/home" routerLinkActive="active">Back</button>
        <input  [(ngModel)]="searchInput" type="search" placeholder="Search..." value="search" >
        
        <button (click)="search(searchInput)" [disabled]="searchInput.length < 3">Search</button>
        
        <button (click)="search()">Show All</button>
        <button routerLink="/new" routerLinkActive="active" [disabled]="dataService.Selecteds.length === 0">Next</button>
        <div *ngIf="SearchList.length > 0">
            <ul>
                <h3>Search Results</h3>
                <li *ngFor="let employee of SearchList">
                    <span>{{employee.name}}</span>
                    <button (click)="select(employee)">Add</button>
                </li>
            </ul>
        </div>
        
        <div *ngIf="dataService.Selecteds.length > 0">
                <ul>
                    <h3>Selecteds</h3>
                    <li *ngFor="let employee of dataService.Selecteds">
                        <span>{{employee.name}}</span>
                        <button (click)="unselect(employee)">Remove</button>
                    </li>
                </ul>
        </div>                    
</div>
